/*
 * Sidebar
 */

/* Hide for mobile, show later */
.toolbar, .toolbar-panel {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  display: block;
  padding: 70px 20px 20px;
}

.toolbar {
  background-color: #292929;
  border-right: 1px solid #eee;
}

.toolbar-panel {
  background-color: #e0e0e0;
  border-right: 1px solid #eee;
}

/*
 * Main content
 */

.main {
  background-color: #afafaf;
}